.logo img {
  width: 164px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
}

.right ul {
  display: flex;
  gap: 34px;
}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.right ul li span {
  padding: 0 5px;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 100px;
  font-family: sans-serif;
}
.first span {
  font-size: 40px;
}
section span img {
  width: 80px;
  margin: 0 23px;
}
.first p {
  width: 74vw;
  font-size: 23px;
  text-align: center;
}

.btn {
  background: #00b6d1;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin: 12px 0;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: white;
}

.green {
  background-color: #5cb85c;
}

.small {
  font-size: 12px;
}

.second {
  max-width: 70vw;
  margin: auto;
}
.item {
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
}

.item-language {
  font-weight: 700;
  text-align: center;
  padding-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.download :nth-child(2) {
  font-size: 23px;
}
.second .download img {
  inline-size: 50px;
}
.download {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 10px;
}
@media screen and (max-width: 900px) {
  .grid {
    display: g rid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
